body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #05e711;
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 7px;
}